{
  "iso_url": "http://free.nchc.org.tw/ubuntu-cd/16.04.3/ubuntu-16.04.3-server-amd64.iso",
  "iso_md5": "10fcd20619dce11fe094e960c85ba4a9",
  "deb_packages": "python-pip vim cloud-init cloud-initramfs-growroot open-vm-tools",
  "disk_size": "4096",
  "user": "{{ vm_username }}",
  "password": "{{ vm_userpass }}",
  "esxi_host": "{{ esxi_host }}",
  "esxi_datastore": "datastore1",
  "esxi_username": "{{ esxi_username }}",
  "esxi_password": "{{ esxi_password }}"
  "vmw_devlpoy_netname": "{{ vmw_devlpoy_netname }}"
}
