choose-mirror-bin mirror/http/proxy strinig
d-i mirror/country string manual
d-i mirror/http/hostname string mirrors.aliyun.com
d-i mirror/http/mirror select mirrors.aliyun.com
d-i mirror/http/directory string /ubuntu
d-i mirror/http/proxy string
d-i base-installer/kernel/override-image string linux-server
d-i clock-setup/utc boolean true
d-i clock-setup/utc-auto boolean true
d-i finish-install/reboot_in_progress note
# Disk partitioning
d-i grub-installer/only_debian boolean true
d-i partman-auto/method string regular
d-i partman-auto/disk string /dev/sda
d-i partman-auto/choose_recipe select boot-root
d-i partman-auto/expert_recipe string                         \
      boot-root ::                                            \
              500 10000 1000000000 ext4                       \
                      $primary{ }                             \
                      $bootable{ }                            \
                      method{ format } format{ }              \
                      use_filesystem{ } filesystem{ ext4 }    \
                      mountpoint{ / }                         \
              .

d-i partman-lvm/device_remove_lvm boolean true
d-i partman-md/device_remove_md boolean true
d-i partman-lvm/confirm boolean false
d-i partman-partitioning/confirm_write_new_label boolean true
d-i partman/choose_partition select  finish
d-i partman/confirm boolean true
d-i partman/confirm_nooverwrite boolean true
d-i partman-md/confirm boolean true
d-i partman/mount_style select traditional
d-i partman-basicfilesystems/no_swap boolean false

# Default user
d-i passwd/user-fullname string {{ vm_username }}
d-i passwd/username string {{ vm_username }}
d-i passwd/user-password password {{ vm_userpass }}
d-i passwd/user-password-again password {{ vm_userpass }}
d-i passwd/user-default-groups lamforever sudo

# Minimum packages
d-i pkgsel/include string openssh-server software-properties-common
d-i pkgsel/install-language-support boolean false
d-i pkgsel/update-policy select none
d-i pkgsel/upgrade select none

d-i time/zone string Asia/Shanghai
d-i user-setup/allow-password-weak boolean true
d-i user-setup/encrypt-home boolean false
tasksel tasksel/first multiselect standard, ubuntu-server
